$home-bg: #d6ce15;
$exp-bg: #a4a71e;
$edu-bg: #53900f;
$port-bg: #1f6521;

$grey: #343a40;
$light-blue: #49a4ff;

$bar-green: rgb(66, 196, 66); 
$bar-amber: rgb(233, 168, 47);
$bar-red: rgb(226, 63, 63);